/* @tree-prefix-cls: ~"@{css-prefix}tree";

.@{tree-prefix-cls} {
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: @font-size-small;
        li{
            list-style: none;
            margin: 8px 0;
            padding: 0;
            white-space: nowrap;
            outline: none;
        }
    }
    li{
        ul{
            margin: 0;
            padding: 0 0 0 18px;
        }
    }
    &-title {
        display: inline-block;
        margin: 0;
        padding: 0 4px;
        border-radius: @btn-border-radius-small;
        cursor: pointer;
        vertical-align: top;
        color: @text-color;
        transition: all @transition-time @ease-in-out;
        &:hover {
            background-color: tint(@primary-color, 90%);
        }
        &-selected, &-selected:hover{
            background-color: tint(@primary-color, 80%);
        }
    }
    &-arrow{
        cursor: pointer;
        width: 12px;
        text-align: center;
        display: inline-block;
        i {
            transition: all @transition-time @ease-in-out;
        }
        &-open{
            i {
                transform: rotate(90deg);
            }
        }
        //&-hidden{
        //    cursor: auto;
        //    i{
        //        display: none;
        //    }
        //}
        &-disabled{
            cursor: @cursor-disabled;
        }
    }
}
 */

//  .tree-wrap{
//      overflow: auto;
//      background-color: #fff;
//     .v-tree{
         
//         overflow: hidden;
//         font-size: 14px;
//         a{
//             color:#606266;
//         }
//     }
//     li{
//         min-height: 28px;
//         line-height: 28px;
//         .item{
//             a{
//                 cursor: pointer;
//                 padding: 4px;
//                 .edit{
//                 //    background-image: url('../../images/brush.png');
//                     background-color: plum;
//                     background-size: 100% 100%;
//                     width: 18px;
//                     height: 18px;
//                     vertical-align:middle;
//                     display: none;
//                     margin-left: 12px;
//                 }
//                 .add{
//                  //   background-image: url('../../images/add.png');
//                     background-color: plum;
//                     background-size: 100% 100%;
//                     width: 18px;
//                     height: 18px;
//                     vertical-align:middle;
//                     display: none;
//                     margin-left: 2px;
//                 }
//                 // .up{
//                 //  background-image: url('../../images/packup.png');
//                 //  background-size: 100% 100%;
//                 //  width: 18px;
//                 //  height: 18px;
//                 //  vertical-align:middle;
//                 //  display: inline-block;
//                 //  margin-left: 2px;
//                 // }
//                 // .down{
//                 //  background-image: url('../../images/unfold.png');
//                 //  background-size: 100% 100%;
//                 //  width: 18px;
//                 //  height: 18px;
//                 //  vertical-align:middle;
//                 //  display: inline-block;
//                 //margin-left: 2px;
//                 // }
//                 .remove{
//                 //    background-image: url('../../images/empty.png');
//                     background-color: plum;
//                     background-size: 100% 100%;
//                     width: 18px;
//                     height: 18px;
//                     vertical-align:middle;
//                     display: none;
//                     margin-left: 2px;
//                 }
//                 &:hover{
//                     .edit,.add,.up,.remove,.down{display: inline-block!important;}
//                 }
//                 .node_input{
//                     outline: none;
//                     background-color: #fff;
//                     border:1px solid #409EFF;
//                     padding-left: 5px;
//                     width: 110px;
//                     height: 20px;
//                     line-height: 20px;
//                     border-radius: 4px;
//                     font-size: 12px;
//                 }
//                 .edit-submitbtn{
//                     outline: none;
//                     border:1px solid #409EFF;
//                     background-color: #409EFF;
//                     color:#fff;
//                     font-size: 12px;
//                     border-radius: 4px;
//                     padding:2px 8px;
//                     cursor: pointer;
//                     &:hover{
//                         opacity: 0.8
//                     }
//                 }
//                 .edit-querybtn{
//                     outline: none;
//                     border:1px solid #C0C4CC;
//                     background-color: #DCDFE6;
//                     color:#303133;
//                     font-size: 12px;
//                     border-radius: 4px;
//                     padding:2px 8px;
//                     cursor: pointer;
//                     &:hover{
//                         opacity: 0.8
//                     }
//                 }
//             }
//             &:hover{
//                 background-color: #f4f4f4;
//                 cursor: pointer;
                 
                 
//             }
             
             
             
         
         
//         }
         
//         ul{
//             padding-left: 10px;
//             li{
//                 list-style: none;
//             }
//         }
//     }    
// }
      
 
     
//     .tree-wrap .v-tree .root_open{
//     //    background-image: url('../../images/right.png');
//         background-color: pink;
//         background-size: 100% 100%;
//         transform: rotate(90deg);
//     }
//     .tree-wrap .v-tree .root_close{
//      //   background-image: url('../../images/right.png');
//          background-color: pink;
//         background-size: 100% 100%;
//     }
//     .tree-wrap .v-tree .roots_docu{
//     //    background-image: url('../../images/fileload.png');
//        background-color: orange;
//         background-size: 100% 100%;
//     }
//     .tree-wrap .v-tree .bottom_open{
//     //    background-image: url('../../images/right.png');
//          background-color: pink;
//         background-size: 100% 100%;
//         transform: rotate(90deg);
//     }
//     .tree-wrap .v-tree .bottom_close{
//     //    background-image: url('../../images/right.png');
//          background-color: pink;
//         background-size: 100% 100%;
//     }
//     .tree-wrap .v-tree .center_open{
//    //     background-image: url('../../images/right.png');
//          background-color: pink;
//         background-size: 100% 100%;
//         transform: rotate(90deg);
//     }
//     .tree-wrap .v-tree .center_close{
//      //   background-image: url('../../images/right.png');
//         background-color: pink;
//         background-size: 100% 100%;
//     }
//     .tree-wrap .v-tree .center_docu{
//      //   background-image: url('../../images/file.png');
//        background-color: red;
//         background-size: 100% 100%;
//     }
//     .tree-wrap .v-tree .bottom_docu{
//      //   background-image: url('../../images/file.png');
//         background-color: red;
//         background-size: 100% 100%;
//     }
//     .tree-wrap .v-tree li .switch{
//         width: 14px;
//         height: 14px;
//         display: inline-block;
//         margin-top: 7px;
//         margin-left: 2px;
//         cursor: pointer;
//         float: left;
//     }

.sgtree-wrap{
    ul{
        li{
            .arrow-right{
                width:14px;
                height:16px;
                margin: 2px 0px;
                display:inline-block;
                cursor: pointer;
                position: relative;
                vertical-align: top;
                &:before{
                    position: absolute;
                    left: 7px;
                    top: 3px;
                    content:'';
                    width: 0px;
                    height: 0px;
                    border:5px solid;
                    border-color: transparent transparent transparent #495060;
                }
            }
            .arrow-right-open{
                width:14px;
                height:16px;
                margin: 2px 0px;
                display:inline-block;
                cursor: pointer;
                position: relative;
                vertical-align: top;
                &:before{
                    position: absolute;
                    left: 2px;
                    top: 6px;
                    content:'';
                    width: 0px;
                    height: 0px;
                    border:5px solid;
                    border-color: #495060  transparent transparent transparent;
                }
            }
            .leaf-icon{
                width:14px;
                height:16px;
                margin: 2px 0px;
                display:inline-block; 
                vertical-align: top;

            }
            list-style: none;
            padding-left: 12px;
            margin: 8px 0;
            a{
                color: #495060;
                font-size: 14px;
                padding: 2px 4px;
                border-radius: 3px;
                &:hover{
                    background-color: #d5e8fc;
                }
            }
            .edit-input{
                outline: none;
                background-color: #fff;
                border: 1px solid #409EFF;
                padding-left: 5px;
                width: 110px;
                height: 22px;
                line-height: 22px;
                border-radius: 4px;
                font-size: 12px;
            }
            .menu-active{
                background-color: #d5e8fc;
            }
            .edit-warp{
                display: inline-block;
                height: 15px;
                .edit-btn{  
                    font-size: 12px;
                    outline: none;
                    cursor: pointer;
                    float: left;
                    border:1px solid #2d8cf0;
                    background-color: #2d8cf0;
                    border-radius: 3px;
                    color:#fff;
                    padding:0px 3px;
                    margin-left: 5px;
                }
            }
            .submit-wrap{
                display: inline-block;
                height: 15px;
                button{
                    font-size: 12px;
                    outline: none;
                    cursor: pointer;
                    float: left;
                    border:1px solid #2d8cf0;
                    background-color: #2d8cf0;
                    border-radius: 3px;
                    color:#fff;
                    padding:0px 5px;
                    margin-left: 5px;
                }
            }
        }
    }
      
 }
